<app-header></app-header>
<div class="container-lg">

  <!-- Page title -->

  <div class="d-flex justify-content-center">
    <div class="card-dark">
      <h2 class="card-title" style="padding: 15px">
        <strong><em>Matrix Multiplication Optimization</em></strong>
      </h2>
    </div>
  </div>

  <div class="d-flex justify-content-start">
    <div d-flex flex-column mb-3>
      <div class="d-flex justify-content-around" style="margin-top: 25px; width: 500px; padding-right: 50px;">
        <form>
          <div>
            <div class="d-flex justify-content-center">
              <div class="card-dark">
                <h2 class="card-title" style="padding: 15px">
                  <strong><em>Data insertion</em></strong>
                </h2>
              </div>
            </div>
            <label for="text" style="margin-top: 10px"><strong>Number of matrixes</strong></label>
            <div class="d-flex justify-content-start" style="width: 150px">
              <div class="input-group mb-3" style="margin-top: 5px">
                <input id="matrixQntyInput" type="number" #matrixQntyInput class="form-control" placeholder="n" />
                <button class="btn btn-dark" type="button" id="matrixQntyBtn" #matrixQntyBtn
                  (click)="setMatrixQuantity(matrixQntyInput.value);addBtn.disabled=false">
                  Set
                </button>
              </div>
            </div>
            <label for="text" style="margin-top: 10px"><strong>Matrix A{{ iMatrix }} dimensions</strong></label>
            <div class="input-group mb-3" style="margin-top: 5px; width: 300px;">
              <input id="mRow" type="text" #mRow class="form-control" placeholder="Key" />
              <input id="mCol" type="number" #mCol class="form-control" placeholder="Value" />
              <button class="btn btn-dark" type="button" id="addBtn" #addBtn disabled="true"
                (click)="insertMatrix(mRow.value, mCol.value);mRow.value=dimensions[dimensions.length - 1]; mCol.value='';mRow.disabled=true">
                +
              </button>
            </div>
          </div>
          <button class="btn btn-dark" type="button" id="termBtn" #exeBtn
            (click)="executeAlgo(); downloadBtn.disabled=false">
            Execute
          </button>
          <button class="btn btn-light" type="button" id="downloadBtn" #downloadBtn (click)="saveFile()"
            [disabled]="true">
            Download config
          </button>
        </form>
      </div>
    </div>
    <!-- P TABLE -->
    <div class="d-flex flex-column mb-3">
      <div class="d-flex justify-content-center">
        <div class="card-dark">
          <h2 class="card-title" style="padding: 15px">
            <strong><em>P Table</em></strong>
          </h2>
        </div>
      </div>
      <table class="table table-dark" style="text-align: center;">
        <thead>
          <th></th>
          <th style="background-color:crimson" *ngFor="let row of mTable; index as i">{{ i + 1 }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of mTable; index as i">
            <td style="background-color:crimson"> {{ i + 1 }}</td>
            <td *ngFor="let val of row; index as j">
              {{ val }}
            </td>
          </tr>
        </tbody>
      </table>

      <!-- R TABLE -->
      <div class="d-flex flex-column mb-3">
        <div class="d-flex justify-content-center">
          <div class="card-dark">
            <h2 class="card-title" style="padding: 15px">
              <strong><em>R Table</em></strong>
            </h2>
          </div>
        </div>
        <table class="table table-dark" style="text-align: center;">
          <thead>
            <th></th>
            <th style="background-color:crimson" *ngFor="let row of mTable; index as i">{{ i + 1 }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let row of pTable; index as i">
              <td style="background-color:crimson"> {{ i + 1 }}</td>
              <td *ngFor="let val of row; index as j">
                {{ val }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="input-container">
        <input type="file" (change)="chooseFile($event)" name="">
        <button (click)="uploadFile()" class="button-colored">Load</button>
      </div>
    </div>
  </div>

</div>