<app-header></app-header>

<div class="container-lg">
  <!-- Page title -->
  <div class="d-flex justify-content-center">
    <div class="card-dark">
      <h2 class="card-title" style="padding: 15px">
        <strong><em>Floyd Algoritm: Shortest Paths between all pairs of vertices</em></strong>
      </h2>
    </div>
  </div>
  <!-- Vertex creation -->
  <div class="d-flex justify-content-around" style="margin-top: 25px">
    <form>
      <div>
        <div class="d-flex justify-content-center">
          <div class="card-dark">
            <h2 class="card-title" style="padding: 15px">
              <strong><em>Graph Creation</em></strong>
            </h2>
          </div>
        </div>
        <label for="text" style="margin-top: 10px"><strong>Insert vertex</strong></label>
        <div class="input-group mb-3" style="margin-top: 5px">
          <input id="vertexInput" type="text" #vertexInput class="form-control" placeholder="Vertex name" />
          <button class="btn btn-dark" type="button" id="button-addon2" (click)="addVertex(vertexInput.value)"
            (click)="vertexInput.value = ''">
            Insert
          </button>
        </div>
        <div>
          <p #qnty>
            <strong>Current quantity of vertex: {{ getNodeQuantity() }}</strong>
          </p>
        </div>
      </div>
      <!-- Vertex link creation -->
      <div class="d-flex flex-column" style="margin-top: 5px">
        <label for="text" style="margin-bottom: 10px"><strong>Insert vertex link</strong></label>
        <div>
          <label for="text"><strong>From: </strong></label>
          <select class="form-control" id="vertexSelect" #vertextSelectOrigin>
            <option *ngFor="let v of vertex">
              {{ v }}
            </option>
          </select>

          <label for="text"><strong>To: </strong></label>
          <select class="form-control" id="vertexSelect" #vertextSelectDestiny>
            <option *ngFor="let v of vertex">
              {{ v }}
            </option>
          </select>

          <label for="text" style="margin-top: 5px"><strong>Weight: </strong></label>
          <div class="input-group">
            <input id="linkWeight" type="number" #linkWeight class="form-control" placeholder="Link weight" />
            <button class="btn btn-dark" type="button" (click)="
                addVertexLink(
                  vertextSelectOrigin.value,
                  vertextSelectDestiny.value,
                  linkWeight.value
                )
              " (click)="linkWeight.value = ''">
              Insert
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- File loading... -->
    <label for="graphFile" style="margin-top: 5px"><strong>Or load file</strong></label>
    <div class="input-container">
      <input type="file" (change)="chooseFile($event)" name="">
      <button (click)="uploadFile()" class="button-colored">Load</button>
    </div>
    <div>
      <!-- Table headers and content. -->
      <div class="d-flex justify-content-center">
        <div class="card-dark">
          <h2 class="card-title" style="padding: 15px">
            <strong><em>Current State Table {{ this.currentStateTable }}</em></strong>
          </h2>
        </div>
      </div>
      <table class="table table-dark">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th *ngFor="let v of vertex">{{ v }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableN">
            <!-- <td>{{ lastVertex }}</td> -->
            <td>{{ this.vertex[this.t] }}</td>
            <td></td>
            <td *ngFor="let val of row">
              {{ val }}
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <button type="button" class="btn btn-danger" (click)="getPrevStateTable()">
          Previous
        </button>
        <button type="button" class="btn btn-success" (click)="getNextStateTable()">
          Next
        </button>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-center">
        <div class="card-dark">
          <h2 class="card-title" style="padding: 15px">
            <strong><em>P Table</em></strong>
            <table class="table table-dark">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th *ngFor="let v of vertex">{{ v }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of pTable">
                  <td></td>
                  <td></td>
                  <td *ngFor="let val of row">
                    {{ val }}
                  </td>
                </tr>
              </tbody>
            </table>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>