<!-- Modal -->
<app-header></app-header>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Ejecución de algoritmo
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Próximamente...</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row row-cols-3 g-4 mx-md-5">
    <div class="col">
      <div class="card text-bg-dark mb-3" style="max-width: 18rem" placement="right"
        ngbTooltip="Algoritmo de análisis sobre grafos para encontrar el camino mínimo en grafos dirigidos con peso."
        tooltipClass="tooltipStyle">
        <div class="card-header">Rutas más cortas</div>
        <img src="./assets/ruta-mas-corta.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <!--<p class="card-text">Algoritmo de análisis sobre grafos para encontrar el camino mínimo en grafos dirigidos con peso.</p>-->
        </div>
        <div class="card-footer">
          <button href="" class="btn btn-light" routerLink="shortestPath">
            Ejecutar Algoritmo
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark mb-3" style="max-width: 18rem" placement="right"
        ngbTooltip="Algoritmo de multiplicación de dos matrices con dimensiones nxm y mxn." tooltipClass="tooltipStyle">
        <div class="card-header">Multiplicación de matrices</div>
        <img src="./assets/nxm.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <!--<p class="card-text">Algoritmo de multiplicación de dos matrices con dimensiones nxm y mxn.</p>-->
        </div>
        <div class="card-footer">
          <button href="" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal"
            title="Algoritmo de multiplicación de dos matrices con dimensiones nxm y mxn.">
            Ejecutar Algoritmo
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark mb-3" style="max-width: 18rem" placement="right"
        ngbTooltip="Busca la solución óptima al reemplazo de un equipo siento la solución óptima la de menor costo.">
        <div class="card-header">Reemplazo de equipos</div>
        <img src="./assets/reemplazo-equipos.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <!--<p class="card-text">Busca la solución óptima al reemplazo de un equipo siento la solución óptima la de menor costo.</p>-->
        </div>
        <div class="card-footer">
          <button href="" class="btn btn-light" routerLink="equipmentReplacement"
            title="Busca la solución óptima al reemplazo de un equipo siento la solución óptima la de menor costo.">
            Ejecutar Algoritmo
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark mb-3" style="max-width: 18rem" placement="right"
        ngbTooltip="Busca la mejor solución entre un conjunto de posibles soluciones a un problema: llenar de la mejor forma una mochila.">
        <div class="card-header">Problema de optimización combinatoria</div>
        <img src="./assets/mochila.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <!--<p class="card-text">Busca la mejor solución entre un conjunto de posibles soluciones a un problema: llenar de la mejor forma una mochila.</p>-->
        </div>
        <div class="card-footer">
          <button href="" class="btn btn-light" routerLink="problema-mochila"
            title="Busca la mejor solución entre un conjunto de posibles soluciones a un problema: llenar de la mejor forma una mochila.">
            Ejecutar Algoritmo
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark mb-3" style="max-width: 18rem" placement="right"
        ngbTooltip="Algoritmo que busca formar el árbol óptimo de búsqueda teniendo en cuenta el costo y las probabilidades de búsqueda de un nodo.">
        <div class="card-header">Árboles binarios</div>
        <img src="./assets/abinario.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <!--<p class="card-text">Algoritmo que busca formar el árbol óptimo de búsqueda teniendo en cuenta el costo y las probabilidades de búsqueda de un nodo.</p>-->
        </div>
        <div class="card-footer">
          <button href="" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal"
            title="Algoritmo que busca formar el árbol óptimo de búsqueda teniendo en cuenta el costo y las probabilidades de búsqueda de un nodo.">
            Ejecutar Algoritmo
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-bg-dark mb-3" style="max-width: 18rem" placement="right"
        ngbTooltip="Algoritmo para calcular las probabilidades de que un equipo gane una serie con factores como la cantidad de partidos y la ventaja de localía.">
        <div class="card-header">Series deportivas</div>
        <img src="./assets/series-deportivas.png" width="200" height="200" class="card-img-top" alt="..." />
        <div class="card-body">
          <!--<p class="card-text">Algoritmo para calcular las probabilidades de que un equipo gane una serie con factores como la cantidad de partidos y la ventaja de localía.</p>-->
        </div>
        <div class="card-footer">
          <button href="" class="btn btn-light" routerLink="series-deportivas"
            title="Algoritmo para calcular las probabilidades de que un equipo gane una serie con factores como la cantidad de partidos y la ventaja de localía.">
            Ejecutar Algoritmo
          </button>
        </div>
      </div>
    </div>
  </div>
</div>